#logo {
    color: #2bae66;
    height: 38px;
    width: 128px;
  }

  .navbar{
    width: 100%;
}
.card{
border: 1px solid #2bae66;
}
.fa-bell{
  position: relative;
  left: 180px;
}
.dropdown-menu{
  position: relative;
  left: 130px;
}

.form-control{   
  background: #e6e6e6;
   opacity: 0.49;
   border-color:
 }
 .form-control:focus{
  box-shadow: 0 0 0 0.2rem rgb(43 174 102 / 0.69);
}