html {
    scroll-behavior: smooth;
  }
  #logo {
    color: #2bae66;
    height: 38px;
    width: 128px;
  }
  
  body {
    overflow-x: hidden;
    font-size: 16px;
    color: #2E2E2E;
    font-family: "Hind Madurai", sans-serif;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:link {
    text-decoration: none;
  }
  
  button:focus {
    outline: none;
    border: none;
  }
  
  a:hover {
    text-decoration: none;
    color: #2BAE66;
  }
  
  p {
    font-weight: normal;
    text-align: left;
    color: #2e2e2e;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  label{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
  }
 