.links{
  border-left: 30px;
  border-width: thin;

  border-color: black;
}
#logo{
  color : #2bae66;
  font-weight: bold;

}


.btn{
    border-radius: 25px !important;
}
.time{
  margin-top: 200px;
  text-align: center;
  font-size: 10rem;
}
.date{
  text-align: center;
  font-size: 5rem;
}


@media only screen and (max-width: 768px) {
  #logo{
    color : #2bae66;
    font-weight: bold;
    font-size: 2rem;

  }
.container{
  margin: 0% !important;
  padding: 0% !important;
}
.time {
  font-size: 6rem;
    margin-top: 40%;
  }
  .date{
    font-size: 4rem;
    margin-top: 20px;
  }
}
