html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  color: #2E2E2E;
  font-family: "Hind Madurai", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

button:focus {
  outline: none;
  border: none;
}

a:hover {
  text-decoration: none;
  color: #2BAE66;
}

p {
  font-weight: normal;
  text-align: left;
  color: #2e2e2e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.lable-confirm2{
  display: none;
}


.read-more-arrow i {
  text-align: center;
  color: #fff;
  font-size: 17px;
  background-color: #2BAE66;
  width: 23px;
  height: 23px;
  line-height: 23px;
  border-radius: 50%;
}

footer {
  background-color: inherit;
  background-color: #2bae66;
  padding: 2%;
  color: #fff;
}

#logo {
  color: #2bae66;
  height: 38px;
  width: 128px;
}

.green {
  color: #2bae66;
}

.header-6 {
  display: flex;
}

.font-size h1 {
  font-size: 67px;
  ;
}

/* nav-bar-burger-to-X */
/* Icon 3 */
#nav-icon3 {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border: none;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 80%;
  background: #000;
  border-radius: 9px;
  border-color: #fff;
  opacity: 1;
  left: 0;
  margin-top: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2) {
  top: 12px;
}

#nav-icon3 span:nth-child(3) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(2) {
  width: 0%
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 12px;
}

/* navbar */
.navbar {
  background-color: #fff;
  padding: 1.5rem 0;
  transition: 0.3s ease-in;
}

.navbar.scroll {
  padding: 0.75rem 0;
}

.logo-image {
  height: 34px;
  width: 138px;
}

.btn {
  border-radius: 6px;
  background: #2bae66;
  border-color: inherit;
  font-size: 14px;
}
.btn:hover{
  background: #188f4d;
}
.btn:active{
  background: #188f4d;
box-shadow: 0px 3px 6px rgba(24, 143, 77, 0.34);
}

/* about section */
.about-container {
  margin-top: 20px;
}

.belief-container {
  margin-top: 160px;
  font-size: 67px;
   text-align: left;
}

.image-1 {
  width: 80%;
  height: auto;
  margin-left: 80px;
  object-fit: cover;
}

.image-2 {
  width: 80%;
  height: auto;
}

.image-3 {
  width: 80%;
  height: auto;
  margin-left: 15%;
  margin-top: 90px;
  object-fit: cover;
}

.svg {
  position: relative;
  left: 25rem;
  bottom: 5rem;
}

.mission-p {
  position: relative;
  bottom: 3rem;
}
.mission{
  margin-top:13px;
}

/* the small green box on the images */
.box {
  height: 4rem;
  width: 4rem;
  border-radius: 0% 0% 0% 60%;
  background-color: #2BAE66;
  position: relative;
  bottom: 2rem;
  left: 3rem;
}

.box-opposite {
  height: 4rem;
  width: 4rem;
  border-radius: 0% 0% 60% 0%;
  background-color: #2BAE66;
  position: relative;
  bottom: 2rem;
  left: 29rem;
}

.box-opposite-2 {
  height: 4rem;
  width: 4rem;
  border-radius: 0% 0% 60% 0%;
  background-color: #2BAE66;
  position: relative;
  bottom: 1.5rem;
  left: 25rem;
}

.box-3 {
  height: 4rem;
  width: 4rem;
  border-radius: 0% 0% 60% 0%;
  background-color: #2BAE66;
  position: relative;
  bottom: 2rem;
  left: 30rem;
}

/* ________ */
/* about section */
.about-container h6 {
  font-family: "Hind Madurai";
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin-top: 19px;
}

.main-header {
  line-height: 82px;
  margin-left: 180px;
  margin-right: 180px;
}

.main-header h1 {
  font-size: 71px;
  font-weight: bold;
}

.content-text {
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
}

.transcend-container {
  margin-top: 150px;
}

.transcend-container h1 {
  font-size: 32px;
}

.tell-us {
  margin-top: 160px;
}

.tell-us h1 {
  font-size: 32px;
}

.mission-container {
  margin-top: 160px;
}

.mission-container h1 {
  font-size: 32px;
}

/* become a partrner section  */
.become-partner {
  margin-top: 150px;
  margin-bottom: 108px;
}

.become-partner h1 {
  font-size: 71px;
}

.become-partner h1 {
  /* margin-left: 300px;
  margin-right: 300px; */
}

.become-partner h6 {
  font-weight: normal;
  margin-left: 75px;
  margin-right: 75px;
  text-align: center;
  line-height: 1.5;
  margin-top: 23px;
}

.areas-covers {
  padding-bottom: 100px;
}

/* Area covers table  */
.table {
  font-family: 'Poppins', sans-serif;
  font-size: 13.33px;
}

.footer-container {
  padding-left: 180px;
  background-color: #2BAE66;
}

footer a:hover, .social-icons i:hover {
  color: #000;
}

.social-icons {
  margin-left: px;
}

.social-icons i {
  color: #fff;
  margin-top: 4.5rem;
  margin-right: 2rem;
  position: relative;
  right: 25px;
}

.mainfooter {
  padding-top: 70px;
}
/* login */

.login-container {
  margin-top: 10%;
  margin-bottom: 5%;
}

.login-form-2 {
  padding: 5%;
  color: #292929;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
  text-align: center;
  color: #292929;
  font-family: 'Poppins', sans-serif;
}

.login-container form {
  padding: 10%;
}

.main-container {
  position: relative;
  left: 250px;
  width: 100%;
}

.btnSubmit {
  width: 100%;
  height: 42px;
  margin-top: 56px;
  border-radius: 4px;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  background: #2bae66;
}

.email-form {
  margin-top: 53px;
}

.pass-form {
  margin-top: 30px;
}

.pass {
  height: 42px;
  border-radius: 4px;
  background: #e6e6e6;
  opacity: 0.49;
}
.form-control:focus{
  box-shadow: 0 0 0 0.2rem rgb(43 174 102 / 0.69);
}

.email {
  border-radius: 4px;
  height: 42px;
  background: #e6e6e6;
  opacity: 0.49;
}

.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #2bae66;
  ;
}

.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.login-form-1 .ForgetPwd {
  color: #2bae66;
  font-weight: 600;
  text-decoration: none;
}
.first{
  width: 200px;
}

/* Css for ipad  */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #logo {
    color: #2bae66;
    font-weight: bold;
    /* font-size: 2rem !important; */
  }
  p{
    width: 70%
  }

  .navbar {
    color: #2bae66;
    font-weight: bold;
    /* font-size: 2rem !important; */
  }

  .about-container {
    width: auto;
    margin-top: 50px;
  }

  .about-container h6 {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-toggler {
    color: #2bae66;
    font-weight: bold;
    /* font-size: 2rem !important; */
  }

  .main-header {
    font-size: 3rem;
  }

  .image-1 {
    margin-top: 30px;
  }

  .header-3 {
    font-family: 'Poppins', sans-serif;
  }

  h1 {
    font-size: 70px;
  }

  h6 {
    font-size: 1rem;
    width: 378px;
  }

  .image-3 {
    margin-top: 30px;
    margin-left: 160px;
    object-fit: cover;
  }

  .box-3 {
    height: 4rem;
    width: 4rem;
    border-radius: 0% 0% 60% 0%;
    background-color: #2BAE66;
    position: relative;
    bottom: 2rem;
    left: 28rem;
  }

  .box-opposite {
    left: 85%;
  }

  .transcend-container img {
    margin-top: 50px;
    padding-left: 30px;
  }

  .become-partner h6 {
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    text-align: center;
  }

  .nav-borderRight:after {
    content: none;
  }

  .social-icons i {
    margin: 0px;
  }
  .main-container {

    left: 0px;

  }
  .mission-p{
    margin-top: 100px !important;
  }
}

/* css for mobile  */
@media only screen and (min-device-width: 280px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    font-size: 16px;
  }
  p{
    text-align: justify;
  }
.col{
  flex-basis: 1 !important;
}
  .navbar-toggler {
    color: #2bae66;
    font-weight: bold;
    /* font-size: 2rem !important; */
  }

  .main-header {
    line-height: 82px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .main-header h1 {
    font-size: 30px;
  }

  .belief-container h1 {
    margin-top: 50px;
    font-size: 28px;
  }
.belief-container{
  margin-top: 40px;
}
  .image-1 {
    width: 346px;
    margin-top: 30px;
    margin-left: auto;
  }

  .image-2 {
    width: 344px;
  }

  .header-3 {
    font-family: 'Poppins', sans-serif;
  }

  .main-header {
    font-size: 24px;
  }

  .about-container h1 {
    padding: px;
  }

  .about-container h6 {
    padding: 10px;
    font-size: 1rem;
    width: ;
  }

  .image-3 {
    margin-top: 9px;
    margin-left: 2rem;
    width: 300px;
    height: auto;
    object-fit: cover;
  }

  .box {
    height: 3rem;
    width: 3rem;
    margin-left: -3.5rem;
  }

  .box-3 {
    height: 3rem;
    width: 3rem;
    border-radius: 0% 0% 60% 0%;
    background-color: #2BAE66;
    position: relative;
    bottom: 2rem;
    left: 18.5rem;
  }

  .box-opposite {
    height: 3rem;
    width: 3rem;
    left: ;
  }

  .box-opposite-2 {
    height: 3rem;
    width: 3rem;
    left: 18.6rem;
  }

  .svg {
    position: absolute;
    left: 17rem;
    bottom: 25rem;
  }
  .transcend-container{
    margin-top: 100px;
  }
  .transcend-container h1 {
    font-size: 29px;
  }

  .transcend-container .row {
    flex-direction: column-reverse;
  }
  .tell-us{
    margin-top: 100px;
  }

  .become-partner h1 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .become-partner h6 {
    margin: 0px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
  }

  .become-partner h1 {
    font-size: 24px;
  }

  .footer-container {
    width: 100%;
    height: auto;
  }

  .nav-borderRight:after {
    content: none;
  }

  .social-icons i {
    margin: 0px;
  }

  .content-text {
    font-size: 25pt;
  }
  .main-container {
    margin-top: 100px;
    left: 0px;

  }
  .mission-container{
    margin-top: 20px;
  }
  .mission-p{
    margin-top: 100px !important;
  }
  .login-form-2{
    padding-top: 30px;
    margin-left: 40px;
  }
  .lable-confirm1{
  display: none;
  }
  .lable-confirm2{
    display: block;
  }
  .first{
    width: auto;
  }
footer .row{
  margin: 0px;
}
}

                                                                                                         
